.input-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  position: absolute;
  top: -20px;
}

.input {
  font-size: 0.75rem;
  width: 80%;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  padding-left: 1rem;
}

.createButton {
  background-color: #1e6f9f;
  color: #fff;
  border: none;
  outline: none;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  display: inline-flex;
  gap: 0.325rem;
  text-align: center;
  justify-content: space-around;
}
