.taskContainer {
  width: 100%;
  background-color: #333333;
  display: flex;
  padding: 1.25rem;
  border-radius: 0.5rem;
  /* justify-content: space-between; */
}

.option,
.trash {
  cursor: pointer;
}

.circle,
.check {
  width: 1.3rem;
}

.todoText {
  margin-left: 2rem;
  font-size: 0.9rem;
}

.trash {
  margin-left: auto;
  font-size: 1rem;
}

.strikeOut {
  text-decoration: line-through;
}
